* {
  margin: 0;
  padding: 0;
}
p {
  font-family: "Roboto", sans-serif;
}
/* header section styles */
header {
  background-color: #d5d2d2;
}
.btn-primary {
  border: none;
  padding: 15px 10px;
  background: red;
  color: white;
  height: 53px;
  width: 200px;
  text-transform: uppercase;
  font-size: 18px;
  border-radius: 5px;
}
.btn-extra {
  color: #000;
  background-color: #fff;
  margin-left: 15px;
}
/* nav var part  */
nav {
  width: 85%;
  margin: auto;
  height: 80px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.logo-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 40%;
  margin-left: 100px;
}
.logo-div img {
  /* padding: 100px 0; */
  height: 50px;
}
.logo-div p {
  color: #00ffff;
}
.menu-div {
  /* width: 50%; */
}
.menu-div ul {
  display: flex;
  justify-content: center;
  /* margin-right: 250px; */
}
.menu-div ul li {
  list-style: none;
  padding: 0 15px;
}
.menu-div ul li a {
  text-decoration: none;
  font-size: 20px;
  color: #000;
}

/* banner section */
.bnner-section {
  height: 100vh;
  background-image: url("../asset/image/background.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  background-blend-mode: overlay;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-container {
  width: 940px;
  height: 350px;
  text-align: center;
}
span {
  color: red;
}
.banner-headding {
  font-size: 85px;
  font-weight: 900;
  color: white;
}
.banner-description {
  color: white;
  font-size: 22px;
  padding: 20px;
  margin-bottom: 20px;
}

/* contant secton styles */
.content-parent {
  background-image: url("../asset/image/footer-bg.png"),
    linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9));
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center center;
}
.content-sec {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  margin: auto;
}
/* left div part */
.left-div {
  width: 40%;
}
.btn-contant {
  color: black;
  background-color: #fff;
  border: none;
  border-radius: 25px;
  padding: 10px auto;
  width: 160px;
  font-size: 16px;
}
.ceo-div a {
  align-self: center;
}
.left-div h3 {
  font-size: 50px;
  font-weight: 900;
  color: white;
  margin: 20px 0;
}
.left-div p {
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 30px;
}
.left-div ol li {
  color: #fff;
  list-style-position: inside;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}
.ceo-div {
  display: flex;
  margin-top: 30px;
  width: 65%;
  justify-content: space-between;
}
.ceo-div img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.profile-div {
  display: flex;
  align-self: center;
}
.profile-description {
  color: white;
  align-self: center;
  margin-left: 10px;
}
.profile-description h4 {
  margin-bottom: 10px;
}
hr {
  border: 1px solid red;
}
/* right div part */
.right-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%;
  /* margin-left: 250px; */
}
.right-div-item {
  height: 300px;
  width: 300px;
  background-color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 20px;
}
.right-div img {
  height: 150px;
  width: 150px;
  align-self: center;
}

/* contact section style */
.contact-sec {
  width: 76%;
  margin: auto;
  color: white;
  background-color: red;
  height: 180px;
  position: relative;
  bottom: 90px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contact-right {
  width: 35%;
  display: flex;
  text-align: center;
  margin-left: 150px;
}
.phone-icon {
  font-size: 100px;
}
.phone-number {
  align-self: center;
  margin-left: 20px;
}
.phone-number h5 {
  margin-bottom: 10px;
  font-size: 15px;
}
.phone-number h2 {
  font-size: 35px;
}
.contact-description {
  width: 65%;
}
.contact-left {
  width: 65%;
  display: flex;
  justify-content: center;
}
.contact-description p {
  font-size: 16px;
  font-weight: 400;

  line-height: 25px;
}

.appoint-div {
  width: 35%;
}
.appoint-btn {
  width: 240px;
  padding: 18px 0;
}
.hr-black {
  height: 140px;
  border: 1px solid #fff;
  margin-right: 20px;
}
